<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace  绑定一个对应的Dao/Mapper接口-->
<!--namespace中的报名要和DAO/Mapper接口中的包名一致-->
<mapper namespace="com.demo.mapper.UserMapper">
    <select id="getUserList" resultType="com.demo.pojo.User"> /*resultType  结果集*/
        select *from aaa.name
    </select>
    <select id="getUserById" parameterType="int" resultType="com.demo.pojo.User">
        select *
        from aaa.name where id=#{id};
    </select><!--parameterType 表示传入的参数类型-->
<!--对象中的属性可以直接取出来-->
    <insert id="addUser" parameterType="com.demo.pojo.User">
        insert into aaa.name(id,name ,pwd)values(#{id},#{name},#{pwd});
    </insert>

    <insert id="addUser2" parameterType="map">
        insert into aaa.name(id,name ,pwd)values(#{userid},#{username},#{password});
    </insert>

    <update id="update" parameterType="com.demo.pojo.User">
        update aaa.name
        set name = #{name},pwd=#{pwd}
        where id=#{id};
    </update>
    <delete id="deleteUser" parameterType="int">
        delete from aaa.name where id=#{id};
    </delete>


<!--    模糊查询-->
    <select id="getUserLike" resultType="com.demo.pojo.User">
        select *from aaa.name where name  like "%"#{value}"%"
    </select>
</mapper>
